* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(./assets/bkInstrucoes.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
}

section

img {
  width: 40px;
}

div {
  width: 40%;
  height: 100vh;

  position: absolute;
  top: 10%;
  right: 5%;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.8); /* branco semi-transparente */
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  text-align: center;
  backdrop-filter: blur(5px); /* efeito vidro fosco (opcional) */
}

h2 {
  background-color: #FFA500; /* verde amigável */
  border: 3px solid #8B4513;
  border-radius: 15px;
  margin-bottom: 7px;

  font-weight: bold;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-style: normal;
  font-size: 20px;
  color: white;

  padding: 10px;
}

ul {
  list-style: none;
  text-align: left;
  
  gap: 20px;
}

ul li {
  display: flex;
  align-items: center;
  gap: 20px;

  font-family: "Barriecito", system-ui;
  font-style: normal;
  font-size: 15px;
  color: #000000;
}

p {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #000000;

  margin-bottom: 45px;
}

#buttonVoltar {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: white;

  background-color: #FFA500; /* verde amigável */
  border: 3px solid #8B4513;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

#buttonVoltar:hover {
  background-color: #e69500;
}